doctype html
html(lang=es)
    head
    include templates/header
//-Haciendo que herede de fpLayout
body
    include templates/navBar
    section.options
        form(method="get" action="/agregar")
            button.button(type=submit name=movie value="Agregar") Agregar
            button.button(type=submit name=movie value="Agregar") Eliminar

    section.container
        // -if(data.length)
        //     article.item
        //         ul
        //             -for(let i = 0; i < data.length; i++)
        //                 li
        //                     a(href="/api/v1/users/" + data[i].id)= data[i].title
        //   -else
        //         p No hay datos


        -if(data.length)
            each movie in data
                article.movie
                    figure
                        img(src=`${movie.image}`)
                    div.info
                        h2= movie.title
                        h2= movie.release_year
                        h2= movie.rating
                        a(href=`/editar/${movie.title}/hola`) Editar
                        a(href=`/api/v1/users/${movie.title}`) Eliminar

        -else
                h1 No hay datos



